/* Esto es así ya que el título principal luce más importante si está en el centro. */
#TituloDeNav {
  text-align: center;
}
/* El punto de esto es darle estilo al texto que tiene que ver con estilo en la página */
.TextoDeEstilo {
  font-family: fantasy;
}
/* Que los elementos de lista tengan enfasis y sean italicos si están bajo un UL.*/
ul>li {
  font-style:oblique;
}
/* Las primeras líneas de cada párrafo serán color rojo.*/
p::first-line {
  color:red;
}
/* Todos los párrafos cambiarán de color cuando se les pase el mouse encima. */
p:hover{
  color: #FCA18D;
}
/* Corrimiento a la derecha de los h2 */
h2{
  padding-left: 1em;
}
/* Corrimiento a la derecha de los h3 */
h3{
  padding-left: 2em;
}
/* Corrimiento a la derecha de los ID cuyos nombres terminen en "info" */
[id$=info]{
  padding-left: 2em;
}
.gallery {
    height: auto;
    width: 180px;
    height: 220px;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}
