<DOCTYPE HTML>
  <head>
    <title>
      Eugene Delacroix
    </title>
  </head>
  <body>
    <section>
      <aside>
        <div>
        <div>
    <h2> Eugène Delacroix </h2>
    <strong>Nacionalidad </strong> Francesa <br>
    <strong>Lengua materna</strong> Francés <br>
    <strong>Padre </strong> Charles-François Delacroix y
    Charles Maurice de Talleyrand <br>
    <strong>Educación </strong> Escuela de Bellas Artes <br> <br>
  </div>
  <div>
    <img src= "Eugene.jpg" style= "width: 180px; height: 300px;">
  </div>
</div>
  </aside>
</section>
<hr>
    <section>
        <nav>
          <ol>
            <li> Vida
              <li> Familia </li>
              <li> Primeros años </li>
              <li> Viaje al norte de África </li>
            </li>
            <li> Obra gráfica </li>
            <li> Estilo </li>
            <li> Cuadros </li>
            <li> Galería </li>
            <li> Eponimia </li>
          </ol>
        </nav>
  </section>
    <hr>
    <section>
      <h1 style="text-align= center"> Eugène Delacroix </h1>
      <p>Ferdinand-Victor-Eugène Delacroix (Charenton-
      Saint-Maurice, Francia, 26 de abril de 1798-París, 13
      de agosto de 1863) fue un pintor francés.</p>
      <h2>Vida </h2>
      <h3> Familia </h3>
      <p>
    Según varias hipótesis, Delacroix pudo ser hijo
    biológico del político Talleyrand, al que se parecía
    físicamente.[cita requerida] Según esta teoría, su padre
    oficial habría quedado estéril a causa de una
    enfermedad. De todas formas, Eugène fue registrado
    como hijo del político Charles Delacroix, Ministro de
    Exteriores del Directorio (Francia), y de Victorie
    Oeben, que pertenecía a una familia de ebanistas,
    artesanos y dibujantes. Eugène fue el cuarto y último
    hijo del matrimonio.
    Al morir su padre, en 1805, siendo en ese momento
    prefecto de Gironda, Eugène se traslada con su
    familia a París, a casa de su hermana mayor Henriette
    de Verninac. Al año siguiente se inscribe en Liceo
    Imperial donde realiza estudios clásicos. En 1813
    reside en casa de su primo Batallie en Valmont.
    al que él permanecerá vinculado por su misterioso
    encanto, volviendo a él repetidas veces a lo largo de
    su vida. Desde Valmont visita Rouen, donde lo
    impresionan vivamente las ruinas medievales y el
    palacio de justicia gótica, que ya empieza a suscitarle
    el gusto por la arquitectura del medioevo. En 1814
    muere su madre quedando huérfano pero bajo la
    protección de su hermana mayor Henriette.
    <h3> Primeros años </h3>
    En 1815 siguiendo la recomendación de su tío, el
    pintor Henri-Francois Riesener, Delacroix entró en el
    taller del pintor neoclásico Pierre Narcisse Guérin,
    donde Théodore Géricault y el Barón Gros fueron
    sus maestros. Visitaba frecuentemente el Louvre,
    estudiando y copiando a los grandes pintores que
    admiraba: Rubens, Velázquez, Rembrandt, Paolo
    Veronese, y se debatió entre la tradición y el
    clasicismo y el deseo de hallar, tras las apariencias, la
    realidad. Pero al mismo tiempo estudia a Goya y se
    interesa por la litografía, publicando algunos
    grabados en Le Miroir. El pintor paisajista Bonington
    le enseñó a pintar la naturaleza. Raymond Soulier le
    inició en la acuarela. En 1816 se inscribe en la
    Escuela de Bellas Artes, donde contrae amistades que
    durarán toda la vida. El primer encargo público que
    realiza en 1819, La Virgen de la Mieses, de la iglesia
    de Orcemont, deriva claramente de sus estudios de
    Rafael.
    El artista frecuenta los salones literarios donde
    conoce a Stendhal, Mérimée, Victor Hugo,
    Alexandre Dumas, Baudelaire. Melómano apasionado, se relaciona con Paganini, Frédéric Chopin, Franz
    Liszt, Franz Schubert, entre otros; Delacroix prefiere la amistad de músicos, escritores (George Sand) y
    poetas a la de los pintores de su época.
    En 1822 Delacroix expone por primera vez Dante y Virgilio en los infiernos, una obra llena de fuerza, de
    una composición ambiciosa y colores muy trabajados; en ella la luz se desliza sobre las musculaturas
    hinchadas, un incendio consume una ciudad (en segundo plano), las capas ondean al viento. La fantasía, lo
    macabro y el erotismo se entremezclan. Dos años más tarde pinta La matanza de Quíos, una obra enérgica
    y con un colorido mucho más vivo. Ambos cuadros concretizan su ambivalencia interior que se debate
    entre el romanticismo y el clasicismo, entre diseño y color, polémica interna que le acompañará durante
    toda su vida.
    En 1825, Delacroix se va a Inglaterra donde pasará tres meses estudiando a los pintores ingleses, de
    manera especial conoce a John Constable, el mayor paisajista europeo de la época. Trata de desvelar la
    técnica y el uso de los colores, analizando los efectos psíquicos que estos provocan.
    A sus 30 años logra provocar controversia en el
    público con el cuadro La muerte de Sardanápalo
    pintado en 1827 y expuesto en el Salón de París. Es un
    cuadro en el que hace gala de una de sus más
    espléndidas combinaciones del color. Con un trazado
    lleno de vigor, tras un esbozo al temple hizo una serie
    de estudios parciales al pastel y, después, al natural. El
    cuadro fue vendido en 1847 a M. Wilson, que lo
    instala en su castillo de Brie, lo que provocó un grave
    deterioro del cuadro, y requirió una difícil
    restauración. Muerto ya Delacroix esta obra recalaría
    en el Louvre.
    La pintura es un buen ejemplo de lo que era importante
    para los románticos franceses: el superhombre
    desbocado en calidad de héroe, la combinación de
    erotismo y muerte, el decorado oriental, los grandes
    movimientos en lugar de una composición equilibrada
    y apacible, y el predominio del color sobre la línea. Delacroix la llamaría La Proeza asiática».
    <h3> Viaje al norte de África </h3>
    En 1832, realiza un viaje de seis meses a Marruecos y Argelia,
    descubriendo allí la deslumbrante luz y color de sus paisajes, sus
    gentes, la sensualidad y el misterio, sensaciones intensas que se
    reflejarán en toda su obra posterior. Luis Felipe de Francia decide
    mandar una delegación especial a Marruecos para mantener el
    control sobre el Mulay Abd ar-Rahman ibn Hicham, elige al conde
    Charles Edgar de Mornay, antiguo gentilhombre de la corte de
    Carlos X, lo acompañara su amante oficial Mademoiselle Mars que
    le sugiere incluir en la lista de viajeros a Eugene Delacroix. En este
    periodo a Delacroix ya se le había entregado la Legión de Honor, y
    era muy apreciado en la sociedad Francesa. La Hacienda Real se
    limitara a pagarle únicamente el trayecto entre Toulon y Tánger, el
    artista tendrá que pagar sus gastos personales durante el viaje. El 1
    de enero de 1832, a las tres de la mañana, después de cenar con el
    conde Charles Edgar de Mornay y Mademoiselle Mars por la
    celebración de San Silvestre, Delacroix parte con la comitiva a
    Toulon para abordar la fragata La Perle, la cual zarpará hasta el 11
    de enero hacia África del Norte.1
    Se conocen muy bien los pormenores de este viaje gracias al Diario del artista, a sus cartas dirigidas a sus
    amigos y al álbum de croquis que elaboró. Estos documentos hacen posible seguir la crónica del artista de
    forma casi diaria paseando por la ciudad o el campo, participando en las fiestas y actividades en las
    ciudades de Tánger, Fez, Mequínez, Orán y Argel. Delacroix queda deslumbrado al llegar a Tánger. Este
    viaje a Marruecos produce una transformación innegable en su obra. Está convencido de que en África del
    Norte se puede contemplar cómo eran las antiguas civilizaciones, y establece comparaciones con la Grecia
    y la Roma clásicas.
    La muerte de Sardanápalo, que Delacroix expuso por
    primera vez en el Salón de 1827-28, donde recibió
    duras críticas. <br> <br>
    <img src= "Africa.jpg" style= "width: 250px; height: 300px;"> <br>
    <i>
    El Mulay Abderraman, Sultán de
    Marruecos, saliendo de su palacio de
    Meknes rodeado de su guardia, 1845. </i> <br> <br>

    Imagina querido amigo, lo que supone contemplar las puestas de sol,
    ver a personas que se parecen a antiguos cónsules, Catones y Brutos,
    paseando por las calles, arreglando sus sandalias, a los que ni siquiera
    falta el aire desdeñoso que deben de tener los amos del mundo.
    Carta a Pierret 29 de abril de 1832.2
    En su llegada a Argel consigue entrar de forma secreta a una harén de la
    autoridad portuaria. En esta visita logra hacer varios dibujos sobre la
    vestimenta de las mujeres musulmanas. Estos numerosos croquis y dibujos
    le servirán a su regreso a Francia para conseguir pintar con mucho detalle
    el cuadro Mujeres de Argel en sus habitaciones (1834) y una litografía de
    mismo tema. Después de su viaje a Marruecos, sus anotaciones le servirán
    de gran inspiración para realizar lienzos como Ceremonia Nupcial judía en
    Marruecos (1837; Delacroix participó realmente en una boda judía en la
    ciudad de Tánger3 ), El Mulay Abderraman, Sultán de Marruecos, saliendo
    de su palacio de Meknes rodeado de su guardia (1845), Los
    convulsionarios de Tánger (1837-1838), La caza del león (1855), Odalisca
    (1857)...
    La naturaleza y los animales de África del Norte captan también la imaginación del autor, sus estudios de
    anatomía durante su viaje le inspiraran para Árabe ensillando su caballo (1855), La pelea de caballos
    árabes en una cuadra (1860)... Visitó el zoológico privado del pachá con el escultor realista Antoine-Louis
    Barye, donde observó a los animales; también tomó notas y dibujos de los tigres de la casa de fieras del
    Jardín des Plantes en Francia.
    El 5 de julio regresará a Toulon con más de 100 dibujos y croquis de sus viajes; se conservan tres de ellos
    en el Museo del Louvre y uno en el Museo Condé de Chantilly.
    Entre los años 1893 y 1895 se publicaron en París una serie de notas y reflexiones que hablan de su
    evolución personal y artística. Estos diarios abarcan el periodo comprendido entre 1823 y la muerte de
    Delacroix.
    <h3> Encargos oficiales y últimos años </h3>
    Cuando regresa de Marruecos recibe encargos oficiales para decorar y pintar diversos edificios públicos: el
    Salón del rey del palacio de Borbón, el palacio de Luxemburgo, la Galería de Apolo en el Louvre... Su
    cuadro más popular La Libertad guiando al pueblo, también conocido como La barricada (1831), le valió
    la Cruz de la Legión de Honor.
    En 1857 fue admitido en la Academia de Bellas Artes.
    Algunas de sus obras más ilustres se encuentran en el Museo del Louvre. La obra de Delacroix inspirará a
    un gran número de pintores, por ejemplo Vincent van Gogh.
    En su Diario expone sus pensamientos e ideas acerca del arte y los artistas, compara sus propias obras
    anteriores y posteriores, las analiza y disecciona, y expresa sus opiniones sobre el arte, la política y la vida.
    Este diario constituye una interesante fuente de información respecto a su vida y su época.
    Página del álbum del norte de
    África y España, 1832, Musée
    du Louvre. En 1859, el pintor expone por última vez en el Sálon
    ya que a pesar de su empeño no puede trabajar de
    forma continua. Su estado de salud se deteriora por
    una laringitis y tendrá que retirarse y guardar reposo
    fuera de París, en el campo. En 1861 termina los
    frescos de Saint-Sulpice (obra que había comenzado
    en 1849) y comienza la decoración del comedor del
    banquero Hartmann. En 1863 su estado de salud
    empeora pero sigue pintando, El cobro del impuesto
    árabe y Tobias y el Ángel, pero muere el 13 de agosto,
    acompañado solamente por su fiel ayudante Jenny Le
    Guillou. Dejando sin concluir las cuatro grandes telas
    destinadas al comedor de Hartmann. Meses antes
    escribe en su diario: «El mérito de una pintura es
    producir una fiesta para la vista. Lo mismo que se dice
    tener oído para la música, los ojos han de tener
    capacidad para gozar la belleza de una pintura. Muchos tienen el mirar falso o inerte; ven los objetos, pero
    no su excelencia». Y así termina su existencia este gran pintor cuya obra artística puede considerarse
    verdaderamente revolucionaria.
    <br>
    <br>
    <h2> Obra gráfica </h2>    Aparte de su producción pictórica, dejó una estimable producción gráfica, principalmente litografías. En
    1825 grabó al menos cinco planchas sobre medailles antiques, en realidad dracmas y demás monedas
    griegas. En 1827 grabó otra serie inspirada en la novela Fausto de Goethe, a quien efigió en una litografía.
    La portada de esta serie guarda similitudes —seguramente no casuales— con "Los Caprichos" de Goya.
    Posteriormente dedicó otra serie al drama "Macbeth" de Shakespeare. <br> <br>
    <h2> Estilo </h2>
    Según la historiadora Ruiz, Delacroix escogió a Dante para realizar varias de sus obras. Fue el más
    emblemático pintor del movimiento romántico aparecido en el primer tercio del siglo XIX, cuya influencia
    se extendió hasta los impresionistas. Etiquetado inicialmente como neoclásico, aunque opuesto totalmente
    a Ingres, ambos son criticados en los diferentes Salones en los que exponían. A partir de la exposición de
    1855 Delacroix se convirtió en la figura que supo sobrepasar la formación clásica para «renovar» la
    pintura. A su fallecimiento, los artistas contemporáneos le rindieron sentidos homenajes, en especial
    Gustave Courbet. Auténtico genio, dejó numerosas obras que tenían mucho que ver con la actualidad de su
    época (Las matanzas de Quío o la Libertad guiando al pueblo). También destacó como pintor religioso
    pese a sus continuas declaraciones de ateísmo. Sus obras manifiestan una gran maestría en la utilización del
    color. <br> <br>
    <h2> Cuadros </h2>
    <ul>
      <li><i> La Barque de Dante ou Dante et Virgile (aux enfers), (1822), 189x241,5 cm, Museo del Louvre,
      París.</i> </li>
      <li>  <i> La libertad guiando al pueblo (1830). </i> </li>
      <li> <i>  Aline la mulâtresse ou Portrait d'Aspasie la
        Mauresque, (hacia 1824), Museo Fabre,
        Montpellier. </i></li>
      <li> <i> Jeune orpheline au cimetière, (1824). </i></li>
      <li> <i>La matanza de Quíos (Scènes des massacres de
      Scio), (1824), 417 x 354 cm, Museo del Louvre,
      París. </i></li>
      <li>  <i> El duque de Orleans mostrando a su amante (h.
        1825), Museo Thyssen-Bornemisza. </i></li>
      </ul>
    </section>
    <hr>

<hr>
</body>
<footer>
<ul>
  <li>Se editó esta página por última vez el 8 ago 2017 a las 02:29.
El texto está disponible bajo la Licencia Creative Commons Atribución Compartir Igual 3.0; pueden
aplicarse cláusulas adicionales. Al usar este sitio, usted acepta nuestros términos de uso y nuestra
política de privacidad. </li>
<li>Wikipedia® es una marca registrada de la Fundación Wikimedia, Inc., una organización sin ánimo
de lucro </li>
</footer>
